<div id="logo">
    <br>
</div>

<div>
    <div id="Title">
        <h1>[FCLM] Fifth Column Gaming </h1>
        <p>This page keeps track of the kills and deaths of [FCLM] players</p>
    </div>
</div>
<div id="background">
<div class="buffer">
    <br>
</div>
<div id="content">
    <div id="outfit" style="overflow-x:auto;">
        <h3>FCLM Players:</h3>
        <table id="outfitTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Outfit</th>
                    <th>Tracked Kills</th>
                    <th>Tracked Deaths</th>
                    <th>Tracked KDR</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div id="kills" style="overflow-x:auto;">
        <h3 id="killsTitle">Players FCLM kills:</h3>
        <table id="killsTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Outfit</th>
                    <th>Deaths to FCLM</th>
                    <th>Kills of FCLM</th>
                    <th>KDR against FCLM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div id="deaths" style="overflow-x:auto;">
        <h3 id="deathsTitle">Players FCLM dies to:</h3>
        <table id="deathsTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Outfit</th>
                    <th>Deaths to FCLM</th>
                    <th>Kills of FCLM</th>
                    <th>KDR against FCLM</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test</td>
                    <td>Test Outfit</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="bases" style="overflow-x:auto;">
        <h3 id="baseTitle">FCLM Base Captures:</h3>
        <table id="baseTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Base</th>
                <th>Type</th>
                <th>Captures</th>
            </tr>
            </thead>
            <tbody>
            {{#each bases}}
                <tr>
                    <td>{{this.base_id}}</td>
                    <td>{{this.base_name}}</td>
                    <td>{{this.base_type}}</td>
                    <td>{{this.captures}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="buffer">
    <br>
</div>
</div>
