body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

/* ----- Div Styling ----- */

#logo {
  background-image: url('../images/fclmSmall.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

#background {
  width: 100%;
}

.buffer {
  width: 9%;
  text-align: center;
  display: inline-block;
}

#content {
  width: 80%;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#Title {
  text-align: center;
  width: 100%;
}

#kills {

}

/* ---- Table Styling ---- */

.smallBreak {
  display: inline-block;
  width: 1.0%;
}

.inline {
  display: inline-block;
  width: 49.2%;
}

.tableDiv {
  height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

tbody {

}

th {
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #ddd;
}

td {
  height: 30px;
  border: 1px solid #ddd;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #FAFAFA
}

tr:hover {
  background-color: #E5E5E5
}
